# React
frontend/node_modules/
frontend/build/
frontend/dist/
frontend/.env

# Laravel
backend/vendor/
backend/node_modules/
backend/.env
backend/storage/logs/
backend/storage/framework/cache/
backend/storage/framework/sessions/
backend/storage/framework/views/
backend/bootstrap/cache/

# Fichiers système
.DS_Store
Thumbs.db